/* botones*/
@mixin button($bg, $padding) {
    background-color: $bg;
    color: $color-white;
    padding: $padding;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}


}

@mixin button($bg-color, $padding-size) {
    display: inline-block;
    background-color: $bg-color;
    padding: $padding-size;
    border: none;
    cursor: pointer;
}