#footer {
    background-color: #263238;
    width: 100%;
}

#footer-container {
    display: flex;
    gap: 24px;
    justify-content: center;

    p {
        font-size: 0.875rem;
        color: white;
    }
}

.footer-first-section {
    flex-basis: 30%;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-logo {
    margin-bottom: 40px;
}

.footer-social-media {
    display: flex;
    margin-top: 40px;
    gap: 15px;
}

.footer-second-section {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    gap: 70px;

    a {
        margin-bottom: 20px;
        text-decoration: none;
        color: white;
    }
}

.footer-links-company {
    display: flex;
    flex-direction: column;
}

.footer-links-support {
    display: flex;
    flex-direction: column;
}

input {
        width: 255px;
        height: 40px;
        border-radius: 6px;
        background-color: gray;
        border: gray;
        opacity: 80%;
    }

    input::placeholder {
        color: white;
    }