.footer {
    background-color: $color-footer;
    color: $color-white;
    padding: 60px 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 15px;

    p {
        font-size: $font-size-small;
        color: $color-white;
    }
}

.footer-section-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 30%;

    .footer-logo img{
    height: 30%;
    }

.footer-content p {
        font-size: $font-size-small;
        color: $color-secondary;
        margin: 4px 0;
    }

    .footer-social-media {
        display: flex;
        gap: 16px;
        margin-top: 10px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            background-color: $color-footer;
            border-radius: 50%;

            img {
                width: 16px;
                height: 16px;
            }
        }
    }
}

.footer-section-2 {
    display: flex;
    gap: 80px;

    h4 {
        color: $color-white;
        font-size: $font-size-h4;
        font-weight: 600;
        margin-bottom: 24px;
    }

    .footer-links,
    .footer-support {
        display: flex;
        flex-direction: column;
        gap: 12px;

        a {
            color: $color-white;
            text-decoration: none;
            font-size: $font-size-small;
        }
    }
}

.footer-email {
    .input-group {
        position: relative;
        width: 255px;

        input {
            width: 100%;
            height: 40px;
            padding: 10px 40px 10px 12px;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 8px;
            color: $color-white;
            font-size: $font-size-small;
            outline: none;

            &::placeholder {
                color: $color-white;
            }
        }

        button {
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            background: transparent;
            border: none;
            color: $color-white;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 0;
        }
    }
}