.main-container{
    background-color: $color-secondary;
    }

#help-local-container {
    display: flex;
    justify-content: center;
}

.help-local-content {
    flex-basis: 35%;
    align-self: center;
}

.help-local-items {
    display: flex;
    flex-basis: 38%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.items {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
    justify-content: center;
}

.items-img {
    align-items: center;
}

.items-principal{
    display: flex;
    flex-wrap: wrap;
}