.how-to-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
}

.how-to-content {
    flex-basis: 55%;
    margin-left: 10%;
    margin-top: 90px;
    margin-bottom: 90px;
    line-height: 1.5;
}

.how-to-img {
    flex-basis: 38%;
    img {
        width: 100%;
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: 10%;
    }
}