.manage-content {
    text-align: center;
    padding-bottom: 32px;
}

.manage-header {
    text-align: center;
    
    h2 {
        display: flex;
        max-width: 550px;
        margin: 0 auto;
    }
}

.manage-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    flex-basis: 250px;
    height: 230px;
    padding: 25px;
    border: 1px solid white;
    margin: 15px;
    border-radius: 3px;
    text-align: center;
}