#pixelgrade-container {
    display: flex;
}

.container {
    max-width: $container-second;
    margin: 0 auto;
    padding: 0 15px;
}

.pixelgrade-img {
    flex-basis: 38%;

    img {
        margin-left: 10%;
        width: 70%;
    }
}

.pixelgrade-content {
    flex-basis: 54%;
    margin-left: 10%;
    margin-top: 70px;
    margin-bottom: 70px;
    line-height: 1.5;
}