//Fuentes
$font-main: "Inter", sans-serif;
$font-size-p: 16px;
$font-size-small: 14px;
$font-size-h1: 64px;
$font-size-h2: 36px;
$font-size-h3: 28px;
$font-size-h4: 20px;
$font-size-h5: 64px;

//Colores
$color-primary: #4D4D4D;
$color-secondary: #F5F7FA;
$color-accent: #4CAF4F;
$color-footer: #263238;
$color-white: #ffffff;


//Containers sizes
$container-width:1155px;
$container-second: 1110px;
$container-small: 
//Spacing